body{
   
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
   background-color: #FFB085;
   background-size: cover;
   background-repeat: no-repeat;
 
}

div{
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #AB6D23;
    transform: translate(-50%,-50%);
    padding: 5px;
    box-shadow: 2px 2px 20px #919191;
    opacity: 0.5;
}
h2{
    font-size: 50px;
    font-weight: 1000;
    color: #1C0C5B;
    font-style: italic;
    
}
.text{
    text-align: left;
    font-size: 30px;
    margin: 50px;
    font-weight: 600;
    color: #3F0713;
    font-style: italic;
}
#weight,#height{
    color: #fff;
    text-align: left;
    font-size: 20px;
    font-weight: 200;
    border: 1px solid #fff;
    width: 300px;
    background-color: transparent;
    border-radius: 2px;
    outline: none;

}
#result{
    color: #3F0713;
    
    font-style: italic;
    font-weight: bolder;
}
#btn{
    font-size: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color:#4B3869;
    width: 150px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
}

#btn:hover{
    box-shadow: 3px  3px 3px 3px #1b096b;
}
#info{
    color:black;
}